URxvt.depth:		32
URxvt.scrollBar:	false
URxvt.cursorColor:	white
URxvt.font:     xft:bitstream vera sans mono:size=12:antialias=true,xft:Inconsolata\ for\ Powerline:size=12, xft:xos4 
Terminus:pixelsize=12, xft:xos4 Terminess Powerline:pixelsize=12
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=12:antialias=true, xtf:xos4 Terminus:pixelsize=12:weight=bold, xft:xos4 Terminess Powerline:pixelsize=12
URxvt.perl-ext-common:	default,matcher,resize-font,clipboard,keyboard-select
! keyboard-select
URxvt.keysym.M-s: perl:keyboard-select:activate
URxvt.keysym.M-r: perl:keyboard-select:search
! clipboard
! update clipboard whenever primary gets updated
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.url-launcher:	/usr/bin/xdg-open
URxvt.matcher.button:	1
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.resize-font.reset: C-Left
URxvt.resize-font.show: C-Right

! ~/.Xresource
*.foreground:   #cbe3e7
*.background:   [90]#1e1c31
*.cursorColor:  #fbfcfc

! black
*.color0:       #565575
*.color8:       #100e23

! red
*.color1:       #ff8080
*.color9:       #ff5458

! green
*.color2:       #95ffa4
*.color10:      #62d196

! yellow
*.color3:       #ffe9aa
*.color11:      #ffb378

! blue
*.color4:       #91ddff
*.color12:      #65b2ff

! magenta
*.color5:       #c991e1
*.color13:      #906cff

! cyan
*.color6:       #aaffe4
*.color14:      #63f2f1

! white
*.color7:       #cbe3e7
*.color15:      #a6b3cc
